/*Documento CSS #657E9E*/

body{
    margin: 0;
    padding: 0;
    background: linear-gradient( rgba(33,36,36,1) 0%, rgb(20, 20, 20) 95%);
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

#bloco-conteudo{
    width: 50%;
    height: 350px;
    background: #0000006b;
    border-radius: 15px;
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24pt;
    color:white;
}

.mudarCor{
    color: rgb(229,9,20);
}

#simbolo{
    color:white;
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.numeros{
    width: 40%;
    height: 35px;
    border-radius: 5px;
    background-color: rgb(29, 28, 28);
    color: white;
    border: solid 1px  rgb(43, 40, 40) ;
}

#bt-somar{
    width: 15%;
    height: 30px;
    margin-top: 20px;
    border-radius: 8px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bt-somar{
    width: 20%;
    height: 30px;
    border-radius: 8px;
    border: solid 1px rgb(229,9,20);
    background-color: rgb(229,9,20);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

#bt-somar:hover{
    width: 20%;
    height: 30px;
    border-radius: 8px;
    border: solid 1px rgb(229,9,20);
    background-color: rgb(229,9,20);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
    transform: scale(1.05);
}

h2{         
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color:white;
   margin-left: -25%;
}

#boxresu{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(29, 28, 28);
    color: white;
    border: solid 1px  rgb(43, 40, 40) ;
    margin-top: -48px;
    margin-left: 48%;
}

#mostrarResultado{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -25px;
    margin-left: 15%;
}

